@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 5rem;
  --main-p: 1.25rem;
}

.max-w {
  @apply md:max-w-screen-lg 2xl:max-w-screen-xl;
}

.main-p {
  padding: var(--main-p);
}

.hero {
  min-height: calc(100vh - 2 * var(--main-p) - 2 * var(--nav-height));
}

/* .input {
  @apply w-full rounded-md border border-slate-200 bg-transparent 
  px-4 py-3 text-sm text-slate-700 shadow-sm transition duration-300 
  placeholder:text-slate-400 hover:border-slate-400 
  focus:shadow focus:outline-none;
} */
/* .label {
  @apply absolute left-12 top-1/2 w-fit origin-left -translate-y-1/2 transform 
  cursor-text bg-base-100 px-1 text-sm transition-all 
  peer-focus:-top-2 peer-focus:left-2.5 peer-focus:z-0 peer-focus:translate-y-0 
  peer-focus:scale-90 peer-focus:text-xs peer-focus:text-slate-400;
} */
